<div id="<%= dom_id medication_transaction %>">
  <p>
    <strong>Medication Name:</strong>
    <%= medication_transaction.medication.name %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= medication_transaction.member.full_name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= medication_transaction.amount %>
  </p>

</div>
