<div id="<%= dom_id medication_transaction %>">
  <p>
    <strong>Medication:</strong>
    <%= medication_transaction.medication_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= medication_transaction.member_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= medication_transaction.amount %>
  </p>

</div>
