<h1>Editing medication transaction</h1>

<%= render "form", medication_transaction: @medication_transaction %>

<br>

<div>
  <%= link_to "Show this medication transaction", @medication_transaction %> |
  <%= link_to "Back to medication transactions", medication_transactions_path %>
</div>
