<h1>New medication transaction</h1>

<%= render "form", medication_transaction: @medication_transaction %>

<br>

<div>
  <%= link_to "Back to medication transactions", medication_transactions_path %>
</div>
