<h1>Editing member shift</h1>

<%= render "form", member_shift: @member_shift %>

<br>

<div>
  <%= link_to "Show this member shift", @member_shift %> |
  <%= link_to "Back to member shifts", member_shifts_path %>
</div>
