<p style="color: green"><%= notice %></p>

<h1>Member shifts</h1>

<div id="member_shifts">
  <% @member_shifts.each do |member_shift| %>
    <%= render member_shift %>
    <p>
      <%= link_to "Show this member shift", member_shift %>
    </p>
  <% end %>
</div>

<%= link_to "New member shift", new_member_shift_path %>
