<div id="<%= dom_id medication %>">
  <p>
    <strong>Name:</strong>
    <%= medication.name %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= medication.stock %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= medication.notes %>
  </p>

</div>
