<div class="medications index">
  <h1>Medications</h1>
  
  <%= link_to("View Low Stock Medication", lowstock_medications_path) %>
  <br/>
  <%= link_to("Add New Medication", new_medication_path, class: 'action new') %>

  <%= render 'searchbar' %>
  
  <%= render 'table' %>
</div>
