<!-- app/views/medications/lowstock.html.erb -->
<%= stylesheet_link_tag 'indexes', media: 'all', 'data-turbo-track': 'reload' %>

<div class="container">
  <h1 class="title shadow-lg">Low Stock Medications</h1>
  
  <%= link_to("Back to Medications", medications_path, class: 'add-new-button') %>

  <%= render 'searchbar' %>
  
  <%= render 'table' %>
</div>

