<%= stylesheet_link_tag 'editpages', media: 'all', 'data-turbo-track': 'reload' %>

<div class="container">
  <h1 class="title shadow-lg">New Calendar Event</h1>

  <%= render "form", calendar_event: @calendar_event %>
</div>