<%= stylesheet_link_tag 'photos', media: 'all', 'data-turbo-track': 'reload' %>

<h2 class="title shadow-lg">A Snapshot of Maroon Health</h2>

<div class="main-container">
  <div class="images-container">
  <% @photo_files.each do |photo_path| %>
    <div class="image-container">
      <%= image_tag photo_path.sub('app/assets/images/', '') %>
    </div>
  <% end %>
  </div>
</div>
