<h1>Donations</h1>
<p>
    Thank you for considering a donation to Maroon Health. Your support is crucial to our mission.
  </p>

  <h2>Donation Options</h2>

  <h3>For Tax Deduction</h3>

  <p>If you are interested in having the donation be tax-deductible, please follow these instructions:</p>

  <h4>By Check</h4>

  <p>
    Make checks payable to the <strong>Texas A&M Foundation</strong> and send them to the following address:
  </p>

  <address>
    The Texas A&M Foundation<br>
    401 George Bush Dr.<br>
    College Station, TX 77840<br>
  </address>

  <p>Include on the memo line: <strong>“Maroon Health (962020)”</strong></p>

  <h4>By Credit Card</h4>

  <p>
    Visit the <a href="https://www.txamfoundation.com/give">Texas A&M Foundation giving page</a>. 
    Under Section 1. Setup Your Gift, select the <strong>Unlisted Account (Enter Manually)</strong> option from the dropdown.
  </p>

  <p>
    Manually enter account number <strong>962020 - Maroon Health</strong> where it prompts for the Giving Account Name or Number.
  </p>

  <p>
    Enter the amount you wish to contribute in Section 1. Setup Your Gift. 
    In Section 2. Personal Details, provide your name and credit card information. 
    Section 3. Gift Details is where you can add additional comments or specify if your donation is in honor of someone special.
  </p>

  <p>
    Once submitted, you will receive an automatic email receipt to the email address you provide.
  </p>

  <h3>Without Tax Deduction</h3>

  <p>
    If you are okay without a tax deduction, please follow these instructions:
  </p>

  <p>
    Make checks payable to <strong>“Maroon Health (962020)”</strong> and mail them to:
  </p>

  <address>
    Maroon Health<br>
    235 John J. Koldus Student Services Building<br>
    1236 TAMU<br>
    College Station, TX 77845-1236<br>
  </address>

  <p>
    After mailing the check, please confirm with SOFC that they have received it and that you want it deposited.
  </p>