<%= stylesheet_link_tag 'home', media: 'all', 'data-turbo-track': 'reload' %>

<h2 class="title">Log in</h2>

<p style="text-align: center;">Please login with your <Strong>Texas A&M</Strong> email address.</p>

<%= render "devise/shared/links" %>
