<div id="<%= dom_id resource %>">
  <p>
    <strong>Url:</strong>
    <%= resource.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= resource.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resource.description %>
  </p>

</div>
