.flash {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    max-width: 50%;
    display: inline-block;
}

.notice, .success {
    background-color: #E0FFE0;
    color: #008000;
    border: 1px solid #66CD66;
}

.alert {
    background-color: #FFFFE0;
    color: #808000;
    border: 1px solid #CCCC00;
}

.error {
    background-color: #FFE0E0;
    color: #800000;
    border: 1px solid #FF0000;
}

/* These colors and fonts were gotten from the Tamu Brand Guide */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #500000;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

a {
    color: #006483
}

a:hover {
    color: #004362
}

/* Add padding to the body to push the content down below the navbar */
body {
    padding-top: 25px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    background-image: url('background4.png');
    background-size: 10% auto;
    background-repeat: repeat;
}

.shadow {
    text-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

/*
    NAVBAR STYLING
*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #732F2F;
    color: #ffffff;
    z-index: 100;
}

.navbar .logo-container {
    float: left;
    vertical-align: top;
    height: 46px;
    width: auto;
    margin: 0px 5px;
}

.navbar .logo-container .logo {
    height: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #500000;
}

.navbar .navbar-item-right {
    float: right;
    margin-right: 0px;
}

@media (max-width: 768px) {

  .navbar .logo-container {
      float: left;
      vertical-align: top;
      height: 20px;
      width: auto;
      margin: 0px 5px;
  }
}
