/* Add padding to the body to push the content down below the navbar */
body {
    padding-top: 25px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #500000;
    color: #ffffff;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #732F2F;
}



/* These colors were gotten from the Tamu Brand Guide */
a {
    color: #006483
}

a:hover {
    color: #004362
}
h1, h2, h3, h4, h5, h6 {
    color: #500000;
}