.container {
    width: 95%;
    margin: auto;
}

.title {
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.actions-container {
    white-space: nowrap;
}

.actions * {
    margin-right: 10px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    background-color: #732F2F;
    color: white;
    height: 30px;
    line-height: 30px;
    /* Align text vertically in the middle */
}

/* Alternating row colors */
tbody tr:nth-child(even) {
    background-color: #c3c3c3;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

.add-new-button {
    margin-top: 12px;
    padding: 15px 30px;
    background-color: #732F2F;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}

.add-new-button:hover {
    background-color: #500000;
    color: #fff;
}
