/* Desktop styles */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #732F2F;
    color: #ffffff;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #500000;
}

.navbar .navbar-item-right {
    float: right;
    margin-right: 20px;
}

.navbar-toggle {
  display: none; /* Hide the button on desktop */
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}


/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin: 10px;
    display: block; /* Display the button on mobile */
  }

  .navbar-links {
    display: none;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
}
