.title {
    text-align: center;
    font-size: 60px;
}

.main-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 20px;
    justify-content: space-around;
}

.image-container {
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .images-container {
        grid-template-columns: 1fr;
        /* Switch to a single column on smaller screens */
    }
}