<%= stylesheet_link_tag 'editpages', media: 'all', 'data-turbo-track': 'reload' %>

<div class="container">
  <h1 class="title shadow-lg">Editing member</h1>

  <%= render "form", member: @member %>
</div>
